<div id="tf-404" class="text-center">
	<div class="overlay">
		<div class="content">
			<h1><strong><span class="color">404</span></strong>Not Found</h1>
			<p class="lead">Whoops. Looks like what you're looking for can't be found.</p>
		</div>
	</div>
</div>