<div id="tf-team" class="text-center">
	<div class="overlay">
		<div class="container">
			<div class="section-title center">
				<h2><%-title%></h2>
				<div class="line">
					<hr>
				</div>
			</div>
			<% for(var link in partials){ %>
				<%- partial("recipes/" +  link, partials[link]  ) %>
			<% }; %>
		</div>
	</div>
</div>
